<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vamos Jogar!</title>
    <style>
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
        }
    </style>
        <!-- Bootstrap stuff -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <h1>Quem será a Sucu Hitler?</h1>
        <br>
        <br>
        <h6>Número de cartas: {{ num_of_laws }}</h6>
        <br>
        <br>
        <a href="{% url 'take_three' %}" class="btn btn-success">Tira três cartas</a>
        <br>
        <a href="{% url 'take_one' %}" class="btn btn-warning">Tira uma carta</a>
        <br>
        <br>
        <a href="{% url 'cards_shuffle' %}" class="btn btn-info">Baralhar cartas!</a>
        <br>
        <br>
        <a href="{% url 'homepage' %}" class="btn btn-dark">Back</a>
    </div>

</body>
</html>